<header>
    <title>User</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/template/Global.css"> <!-- change -> /template/Global.css  -->
    <link rel="stylesheet" href="/css/HomeUser/HomeUserv2.css"> <!-- Edit name for import Css of this document -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</header>


<div class="scroll-table-mem">

    @foreach (Transaction transaction in ViewBag.TransactionList)
    {
        <button type="button" class="collapsible ParagraphX1 ENG rc-Primary">@transaction.Date.ToShortDateString()</button>
        <div class="content">
            <div class="container-table ">
                <table class="w3-table w3-bordered ">
                    <tbody>
                    <tr>
                        <td>
                            <table border="0">
                                <tr>
                                    <td>
                                        <p class="ParagraphX1 ENG rc-Primary">
                                            <b>@transaction.Equipment.Room :</b>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <div class="verticalLine">
                                <table border="0">
                                    <tr>
                                        <td>
                                            <p class="ParagraphX1 ENG rc-Secondary">@transaction.Equipment.Name</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td>
                        <div class="verticalLine">
                            <table border="0">
                                <tr>
                                    <td>
                                        <p class="ParagraphX1 ENG rc-Secondary in-line">@(transaction.Period):00</p>
                                    </td>
                                    <td>
                                        <p class="ParagraphX1 ENG rc-Secondary in-line ">-</p>
                                    </td>
                                    <td>
                                        <p class="ParagraphX1 ENG rc-Secondary in-line">@(transaction.Period + 1):00 </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <td>
                        <div class="verticalLine">
                            <table border="0">
                                <tr>
                                    <td>
                                        <p class="ParagraphX1 TH rc-Secondary in-line">จำนวน</p>
                                    </td>
                                    <td>
                                        <p class="ParagraphX1 ENG rc-Secondary in-line ">
                                            &nbsp;&nbsp;@transaction.Amount
                                        </p>
                                    </td>
                                    <td>
                                        <p class="ParagraphX1 TH rc-Secondary in-line ">
                                            &nbsp;&nbsp;เครื่อง
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <td>
                            <div class="verticalLine">
                                <p class="ParagraphX1 ENG rc-Secondary">
                                    <input
                                        class="btn-pop-bl rc-Primary TH ParagraphX1" type="submit"
                                        value="Cancel">
                                </p>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }



    @* <button type="button" class="collapsible ParagraphX1 ENG rc-Primary">14 / 02 / 2021</button> *@
    @* <div class="content"> *@
    @*     <div class="container-table "> *@
    @*         <table class="w3-table w3-bordered "> *@
    @*             <tbody> *@
    @*             <tr> *@
    @*                 <td> *@
    @*                     <table border="0"> *@
    @*                         <tr> *@
    @*                             <td> *@
    @*                                 <p class="ParagraphX1 ENG rc-Primary"> *@
    @*                                     <b>ECC-602 :</b> *@
    @*                                 </p> *@
    @*                             </td> *@
    @*                         </tr> *@
    @*                     </table> *@
    @*                 </td> *@
    @*                 <td> *@
    @*                     <div class="verticalLine"> *@
    @*                         <table border="0"> *@
    @*                             <tr> *@
    @*                                 <td> *@
    @*                                     <p class="ParagraphX1 ENG rc-Secondary">STM32-nucleo f767zi</p> *@
    @*                                 </td> *@
    @*                             </tr> *@
    @*                         </table> *@
    @*                     </div> *@
    @*                 </td> *@
    @*                 <td> *@
    @*                 <div class="verticalLine"> *@
    @*                     <table border="0"> *@
    @*                         <tr> *@
    @*                             <td> *@
    @*                                 <p class="ParagraphX1 ENG rc-Secondary in-line">10:00</p> *@
    @*                             </td> *@
    @*                             <td> *@
    @*                                 <p class="ParagraphX1 ENG rc-Secondary in-line ">-</p> *@
    @*                             </td> *@
    @*                             <td> *@
    @*                                 <p class="ParagraphX1 ENG rc-Secondary in-line">11:00 </p> *@
    @*                             </td> *@
    @*                         </tr> *@
    @*                     </table> *@
    @*                 </div> *@
    @*                 <td> *@
    @*                 <div class="verticalLine"> *@
    @*                     <table border="0"> *@
    @*                         <tr> *@
    @*                             <td> *@
    @*                                 <p class="ParagraphX1 TH rc-Secondary in-line">จำนวน</p> *@
    @*                             </td> *@
    @*                             <td> *@
    @*                                 <p class="ParagraphX1 ENG rc-Secondary in-line "> *@
    @*                                     &nbsp;&nbsp;2 *@
    @*                                 </p> *@
    @*                             </td> *@
    @*                             <td> *@
    @*                                 <p class="ParagraphX1 TH rc-Secondary in-line "> *@
    @*                                     &nbsp;&nbsp;เครื่อง *@
    @*                                 </p> *@
    @*                             </td> *@
    @*                         </tr> *@
    @*                     </table> *@
    @*                 </div> *@
    @*                 <td> *@
    @*                     <div class="verticalLine"> *@
    @*                         <p class="ParagraphX1 ENG rc-Secondary"> *@
    @*                             <input *@
    @*                                 class="btn-pop-bl rc-Primary TH ParagraphX1" type="submit" *@
    @*                                 value="Cancel"> *@
    @*                         </p> *@
    @*                     </div> *@
    @*                 </td> *@
    @* *@
    @*             </tr> *@
    @*             </tbody> *@
    @*         </table> *@
    @*     </div> *@
    @* </div> *@
    @* *@
    @* <button type="button" class="collapsible ParagraphX1 ENG rc-Primary">15 / 02 / 2021</button> *@
    @* <div class="content"> *@
    @*     <p> *@
    @*         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut *@
    @*         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco *@
    @*         laboris nisi ut aliquip ex ea commodo consequat. *@
    @*     </p> *@
    @* </div> *@
    @* *@
    @* <button type="button" class="collapsible ParagraphX1 ENG rc-Primary">21 / 02 / 2021</button> *@
    @* <div class="content"> *@
    @*     <p> *@
    @*         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut *@
    @*         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco *@
    @*         laboris nisi ut aliquip ex ea commodo consequat. *@
    @*     </p> *@
    @* </div> *@
    @* *@
    @* <button type="button" class="collapsible ParagraphX1 ENG rc-Primary">26 / 02 / 2021</button> *@
    @* <div class="content"> *@
    @*     <p> *@
    @*         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut *@
    @*         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco *@
    @*         laboris nisi ut aliquip ex ea commodo consequat. *@
    @*     </p> *@
    @* </div> *@

</div> <!-- scroll-->