@using Microsoft.EntityFrameworkCore.Infrastructure
@model DibDibDotNet.Models.HomeUserViewModel;

@{
    ViewBag.CurrentYearMonth = DateTime.Now.Year.ToString() + '-' + DateTime.Now.Month.ToString().PadLeft(2, '0');
}


<!DOCTYPE html>
<html>
<header>
    <title>User</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/template/Global.css"> <!-- change -> /template/Global.css  -->
    <link rel="stylesheet" href="/css/HomeUser/HomeUserv2.css"> <!-- Edit name for import Css of this document -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function onMonthSelected() {
            $.ajax({
                url: "/HomeUser/GetUserReservationMonth",
                type: "GET",
                data: $("#monthSelectForm").serialize(),
                success: function (result) {
                    console.log(result);
                    $("#EquipmentReserveListPartial").html(result);
                }
            });
            return false;
        }
    </script>
</header>
@if (ViewBag.alertMsg != null)
{
    <text>
    <script>
        $(document).ready(function () {
            alert('@ViewBag.alertMsg');
        });
    </script>
</text>
}

<body class="BGG unselectable ">
    <div class="topnav">
        <div class="right">
            <a href="javascript:window.location.reload(true)">
                <i class="material-icons md-20 rc-Muted ">refresh</i>
            </a>
            <a id="openPopUp-cart" target="_parent">
                <i class="material-icons md-20 rc-Muted ">add_shopping_cart</i>
                <mark class="noti-cart Label ENG rc-Bright">
                    @ViewBag.NumUserBooked
                </mark>
            </a>
            <p class="ParagraphX2 ENG rc-Muted" href="#">Quota: @(5 - ViewBag.NumUserBooked)</p>
            <a id="openPopUp-account" target="_parent">
                <i class="material-icons md-20 rc-Success ">
                    account_circle
                </i>
            </a>
        </div>
    </div>
    <footer class="container-wave">
        <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 490" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                <stop stop-color="rgba(20, 163, 139, 1)" offset="0%"></stop>
                <stop stop-color="rgba(50.501, 205.338, 179.351, 1)" offset="100%"></stop>
            </linearGradient>
            <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                <stop stop-color="rgba(20, 163, 139, 0.41)" offset="0%"></stop>
                <stop stop-color="rgba(50.501, 205.338, 179.351, 0.49)" offset="100%"></stop>
            </linearGradient>
            <path style="transform:translate(0, 0px); opacity:0.5" fill="url(#sw-gradient-0)"
                d="M0,312L30,286C60,260,120,208,180,214.5C240,221,300,286,360,279.5C420,273,480,195,540,175.5C600,156,660,195,720,227.5C780,260,840,286,900,273C960,260,1020,208,1080,156C1140,104,1200,52,1260,52C1320,52,1380,104,1440,130C1500,156,1560,156,1620,156C1680,156,1740,156,1800,182C1860,208,1920,260,1980,286C2040,312,2100,312,2160,318.5C2220,325,2280,338,2340,338C2400,338,2460,325,2520,273C2580,221,2640,130,2700,130C2760,130,2820,221,2880,221C2940,221,3000,130,3060,130C3120,130,3180,221,3240,260C3300,299,3360,286,3420,286C3480,286,3540,299,3600,279.5C3660,260,3720,208,3780,208C3840,208,3900,260,3960,260C4020,260,4080,208,4140,156C4200,104,4260,52,4290,26L4320,0L4320,390L4290,390C4260,390,4200,390,4140,390C4080,390,4020,390,3960,390C3900,390,3840,390,3780,390C3720,390,3660,390,3600,390C3540,390,3480,390,3420,390C3360,390,3300,390,3240,390C3180,390,3120,390,3060,390C3000,390,2940,390,2880,390C2820,390,2760,390,2700,390C2640,390,2580,390,2520,390C2460,390,2400,390,2340,390C2280,390,2220,390,2160,390C2100,390,2040,390,1980,390C1920,390,1860,390,1800,390C1740,390,1680,390,1620,390C1560,390,1500,390,1440,390C1380,390,1320,390,1260,390C1200,390,1140,390,1080,390C1020,390,960,390,900,390C840,390,780,390,720,390C660,390,600,390,540,390C480,390,420,390,360,390C300,390,240,390,180,390C120,390,60,390,30,390L0,390Z">
            </path>
            <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
                d="M0,392L30,359.3C60,327,120,261,180,269.5C240,278,300,359,360,351.2C420,343,480,245,540,220.5C600,196,660,245,720,285.8C780,327,840,359,900,343C960,327,1020,261,1080,196C1140,131,1200,65,1260,65.3C1320,65,1380,131,1440,163.3C1500,196,1560,196,1620,196C1680,196,1740,196,1800,228.7C1860,261,1920,327,1980,359.3C2040,392,2100,392,2160,400.2C2220,408,2280,425,2340,424.7C2400,425,2460,408,2520,343C2580,278,2640,163,2700,163.3C2760,163,2820,278,2880,277.7C2940,278,3000,163,3060,163.3C3120,163,3180,278,3240,326.7C3300,376,3360,359,3420,359.3C3480,359,3540,376,3600,351.2C3660,327,3720,261,3780,261.3C3840,261,3900,327,3960,326.7C4020,327,4080,261,4140,196C4200,131,4260,65,4290,32.7L4320,0L4320,490L4290,490C4260,490,4200,490,4140,490C4080,490,4020,490,3960,490C3900,490,3840,490,3780,490C3720,490,3660,490,3600,490C3540,490,3480,490,3420,490C3360,490,3300,490,3240,490C3180,490,3120,490,3060,490C3000,490,2940,490,2880,490C2820,490,2760,490,2700,490C2640,490,2580,490,2520,490C2460,490,2400,490,2340,490C2280,490,2220,490,2160,490C2100,490,2040,490,1980,490C1920,490,1860,490,1800,490C1740,490,1680,490,1620,490C1560,490,1500,490,1440,490C1380,490,1320,490,1260,490C1200,490,1140,490,1080,490C1020,490,960,490,900,490C840,490,780,490,720,490C660,490,600,490,540,490C480,490,420,490,360,490C300,490,240,490,180,490C120,490,60,490,30,490L0,490Z">
            </path>
        </svg>
    </footer>
    <footer class="container-Logo ">
        <div class="container-icon-logo in-line">
            <i class="material-icons md-36 rc-Warning">looks</i> <!-- looks is icon's name -->
        </div>
        <div class="container-text-logo in-line">
            <h1 class="ParagraphX1 ENG rc-Accent in-line">
                <b>DIB</b>
            </h1>
            <h1 class="ParagraphX1 ENG rc-Muted in-line">
                <b>DIB</b>
            </h1>
            <br class="brr md-h0">
            <h1 class="Label ENG rc-Primary">
                <b>SoftwareStudio</b>
            </h1>
        </div>
    </footer>

    <div class="contain-cards">
        <div class="parent-card">
            @* ECC-501 Id = 2*@
            @{
                var isInWorkingTime = DateTime.Now.Hour >= 9 && DateTime.Now.Hour <= 15;
            }
            <div class="div1-grid">
                <a
                    href="@Url.Action("UserSelectRoom", "UserSelectRoom", new {roomId = "ECC-501", yearMonth=ViewBag.CurrentYearMonth})">
                    <div class="card-preview DS-SS">
                        <img class="img-card" src="/Assets/ImageRoom501.png" alt="Room501">
                        <p class="HeadingX6 ENG rc-Primary">
                            <b>ECC-501</b>
                        </p>
                        <p class="ParagraphX1 ENG rc-Primary">@Model.Equipments[2].Name</p>
                        <table border="0">
                            <tr>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">จอง</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@(isInWorkingTime ?
                                        Model.Equipments[2].Booking.ToString() : "-")</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">คงเหลือ</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@Model.Equipments[2].Avaliable
                                    </p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">ทั้งหมด</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@Model.Equipments[2].Total</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>
            @* ECC-502 Id = 3*@
            <div class="div2-grid">
                <a
                    href="@Url.Action("UserSelectRoom", "UserSelectRoom", new {roomId = "ECC-502", yearMonth=ViewBag.CurrentYearMonth})">
                    <div class="card-preview DS-SS">
                        <img class="img-card" src="/Assets/ImageRoom502.png" alt="Room502">
                        <p class="HeadingX6 ENG rc-Primary">
                            <b>ECC-502</b>
                        </p>
                        <p class="ParagraphX1 ENG rc-Primary">@Model.Equipments[3].Name</p>
                        <table border="0">
                            <tr>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">จอง</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@(isInWorkingTime ?
                                        Model.Equipments[3].Booking.ToString() : "-")</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">คงเหลือ</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@Model.Equipments[3].Avaliable
                                    </p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">ทั้งหมด</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@Model.Equipments[3].Total</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>

            @* ECC-504 Id = 4*@
            <div class="div3-grid">
                <a
                    href="@Url.Action("UserSelectRoom", "UserSelectRoom", new {roomId = "ECC-504", yearMonth=ViewBag.CurrentYearMonth})">
                    <div class="card-preview DS-SS">
                        <img class="img-card" src="/Assets/ImageRoom504.png" alt="Room504">
                        <p class="HeadingX6 ENG rc-Primary">
                            <b>ECC-504</b>
                        </p>
                        <p class="ParagraphX1 ENG rc-Primary">@Model.Equipments[4].Name</p>
                        <table border="0">
                            <tr>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">จอง</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@(isInWorkingTime ?
                                        Model.Equipments[4].Booking.ToString() : "-")</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                                </td>
                            </tr>
                            <td>
                                <p class="Label TH rc-Secondary in-line">คงเหลือ</p>
                            </td>
                            <td>
                                <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@Model.Equipments[4].Avaliable</p>
                            </td>
                            <td>
                                <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                            </td>
                            <tr>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">ทั้งหมด</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@Model.Equipments[4].Total</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>

            @* ECC-601 Id = 6*@
            <div class="div4-grid">
                <a
                    href="@Url.Action("UserSelectRoom", "UserSelectRoom", new {roomId = "ECC-601", yearMonth=ViewBag.CurrentYearMonth})">
                    <div class="card-preview DS-SS">
                        <img class="img-card" src="/Assets/ImageRoom601.png" alt="Room601">
                        <p class="HeadingX6 ENG rc-Primary">
                            <b>ECC-601</b>
                        </p>
                        <p class="ParagraphX1 ENG rc-Primary">@Model.Equipments[6].Name</p>
                        <table border="0">
                            <tr>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">จอง</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@(isInWorkingTime ?
                                        Model.Equipments[6].Booking.ToString() : "-")</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                                </td>
                            </tr>
                            <td>
                                <p class="Label TH rc-Secondary in-line">คงเหลือ</p>
                            </td>
                            <td>
                                <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@Model.Equipments[6].Avaliable</p>
                            </td>
                            <td>
                                <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                            </td>
                            <tr>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">ทั้งหมด</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@Model.Equipments[6].Total</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>

            @* ECC-602 Id = 5*@
            <div class="div5-grid">
                <a
                    href="@Url.Action("UserSelectRoom", "UserSelectRoom", new {roomId = "ECC-602", yearMonth=ViewBag.CurrentYearMonth})">
                    <div class="card-preview DS-SS">
                        <img class="img-card" src="/Assets/ImageRoom602.png" alt="Room602">
                        <p class="HeadingX6 ENG rc-Primary">
                            <b>ECC-602</b>
                        </p>
                        <p class="ParagraphX1 ENG rc-Primary">@Model.Equipments[5].Name</p>
                        <table border="0">
                            <tr>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">จอง</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@(isInWorkingTime ?
                                        Model.Equipments[5].Booking.ToString() : "-")</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                                </td>
                            </tr>
                            <td>
                                <p class="Label TH rc-Secondary in-line">คงเหลือ</p>
                            </td>
                            <td>
                                <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@Model.Equipments[5].Avaliable</p>
                            </td>
                            <td>
                                <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                            </td>
                            <tr>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">ทั้งหมด</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line ">&nbsp;&nbsp;@Model.Equipments[5].Total</p>
                                </td>
                                <td>
                                    <p class="Label TH rc-Secondary in-line">&nbsp;&nbsp;เครื่อง</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>
            <div class="div6-grid">
                <a onClick="onClickDogGo()">
                    <div class="card-preview DS-SS">
                        <img class="img-card" src="/Assets/SWE.png" alt="Room602">
                        <p class="HeadingX6 ENG rc-Primary">
                            <b>DogGo</b>
                        </p>
                        <p class="Label ENG rc-Primary"> API From DogGo Team</p>
                    </div>
                </a>
            </div>
        </div><!-- parent card-->
    </div>
    <!--  pop up account-->
    <div id="popUp-account" class="modal">
        <div class="modal-content DS-SS">
            <div id="openPopUp-accountSetting" class="accountSetting ">
                <p class="ParagraphX2 ENG rc-Secondary">Account Setting</p>
            </div>
            <a id="checkLogout" class="ParagraphX2 ENG rc-Secondary" href="@Url.Action("Logout", "LoginSignup")">
                <div class="logout">Logout</div>
            </a>
        </div>
    </div>

    <!--  pop up accountSetting-->
    <div id="popUp-accountSetting" class="modal-accSet">
        <div class="modal-content-accSet DS-SS">
            <form asp-action="UpdateAccount">
                <span class="close">
                    <i class="material-icons rc-Secondary">close</i>
                </span>
                <h1 class="HeadingX4 ENG rc-Primary">Account Setting</h1><br class="brr md-h5">
                <p class="ParagraphX1 ENG rc-Primary">Change your information</p><br class="brr md-h15">

                <span class="ParagraphX2 ENG rc-Secondary">First Name</span><br class="brr md-h5">
                <input class="input-login" asp-for="NewAccountInfo.FirstName" value="@Model.CurrentUser.FirstName"
                    required /> <br class="brr md-h20">
                <span asp-validation-for="NewAccountInfo.FirstName" class="text-danger"></span>
                @* <input class="input-login" type="text" name="firstName"> <br class="brr md-h20"> *@

                <span class="ParagraphX2 ENG rc-Secondary">Last Name</span><br class="brr md-h5">
                <input class="input-login" asp-for="NewAccountInfo.LastName" value="@Model.CurrentUser.LastName"
                    required /> <br class="brr md-h20">
                <span asp-validation-for="NewAccountInfo.LastName" class="text-danger"></span>
                @* <input class="input-login" type="text" name="lastName"> <br class="brr md-h20"> *@

                <span class="ParagraphX2 ENG rc-Secondary">Email</span><br class="brr md-h5">
                <input asp-for="NewAccountInfo.Email" class="input-login" type="email" value="@Model.CurrentUser.Email"
                    required> <br class="brr md-h20">
                <span asp-validation-for="NewAccountInfo.Email" class="text-danger"
                    style="color: red;padding-top: 8px;"></span>
                @* <input class="input-login" type="email" name="email"> <br class="brr md-h20"> *@

                <span class="ParagraphX2 ENG rc-Secondary">Current Password</span><br class="brr md-h5">
                <input asp-for="NewAccountInfo.CurrentPassword" class="input-login" type="password"> <br
                    class="brr md-h20">
                <span asp-validation-for="NewAccountInfo.CurrentPassword" class="text-danger"
                    style="color: red;padding-top: 8px;"></span>
                @* <input class="input-login" type="password" name="currentPassword"> <br class="brr md-h20"> *@

                <span class="ParagraphX2 ENG rc-Secondary">New Password</span><br class="brr md-h5">
                <input asp-for="NewAccountInfo.NewPassword" class="input-login" type="password"> <br class="brr md-h20">
                <span asp-validation-for="NewAccountInfo.Email" class="text-danger"
                    style="color: red;padding-top: 8px;"></span>
                @* <input class="input-login" type="password" name="newPassword"> <br class="brr md-h20"> *@

                @* <input onclick="sentResetLink()" class="btn-login rc-BG ENG HeadingX6" type="submit" value="Save"> *@
                <input class="btn-login rc-BG ENG HeadingX6" type="submit" value="Save">
            </form>
        </div>
    </div>

    <!--  pop up cart-->
    <div id="popUp-cart" class="modal-cart">
        <div class="modal-content-cart DS-SS">
            <span class="close-cart">
                <i class="material-icons rc-Secondary">close</i>
            </span>
            <p class="HeadingX5 ENG rc-Primary in-line margin10">
                <b>Equipment reservation list</b>
            </p>
            <form id="monthSelectForm" class="month-sel in-line">
                <input class="calendar ParagraphX1 ENG rc-Primary" type="month" id="monthUser" name="monthUser"
                    value="@ViewBag.CurrentYearMonth" onchange="onMonthSelected();" />
            </form>
            <div id="EquipmentReserveListPartial">
                @* @Html.PartialAsync("~/Views/Shared/_EquipmentReserveListPartial.cshtml"); *@
            </div>
        </div>
    </div>

    @* pop up DogGo Reservation List *@
    <div id="dogGo-Popup" class="modal-cart">
        <div class="modal-content-cart DS-SS">
            <span class="close-cart">
                <i class="material-icons rc-Secondary" onclick="closeDogGo()">close</i>
            </span>
            <p class="HeadingX5 ENG rc-Primary in-line margin10">
                <b>DogGo Reservation List</b>
            </p>
            <a class="Label ENG rc-Accent" href="https://demo3.nsharuk.com/" target="_blank">Visit DogGo.com</a>
            <div class="scroll-table-mem">
                <div class="container-table ">
                    <table class="w3-table w3-bordered ">
                        <thead class="hd-table ">
                            <tr>
                                <th>
                                    <p class="ParagraphX1 ENG rc-Primary in-line">#</p>
                                </th>
                                <th>
                                    <p class="ParagraphX1 ENG rc-Primary in-line ">Room</p>
                                </th>
                                <th>
                                    <p class="ParagraphX1 ENG rc-Primary in-line">Equipment</p>
                                </th>
                                <th>
                                    <p class="ParagraphX1 ENG rc-Primary in-line">09.00 - 10.00</p>
                                </th>
                                <th>
                                    <p class="ParagraphX1 ENG rc-Primary in-line">10.00 - 11.00</p>
                                </th>
                                <th>
                                    <p class="ParagraphX1 ENG rc-Primary in-line">11.00 - 12.00</p>
                                </th>
                                <th>
                                    <p class="ParagraphX1 ENG rc-Primary in-line">12.00 - 13.00</p>
                                </th>
                                <th>
                                    <p class="ParagraphX1 ENG rc-Primary in-line">13.00 - 14.00</p>
                                </th>
                                <th>
                                    <p class="ParagraphX1 ENG rc-Primary in-line">14.00 - 15.00</p>
                                </th>
                                <th>
                                    <p class="ParagraphX1 ENG rc-Primary in-line">15.00 - 16.00</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="dogGo-Table">

                        </tbody>
                    </table>
                </div>
            </div> <!-- scroll-->
        </div>
    </div>
</body>

</html>


<!-- JS for link page -->
<script>

    function onClickDogGo() {
        let dogGoModal = document.getElementById("dogGo-Popup");
        dogGoModal.style.display = "block";
        let today = new Date();


        $.ajax({
            type: "Get",
            url: `https://demo3.nsharuk.com/api/reserveavailable?year=${today.getFullYear()}&month=${today.getMonth()}&day=${today.getDate()}`,
            dataType: "json",
            traditional: true,
            success: function (data) {
                data.reserveList.forEach((e, i) => {
                    var dogGoTable = document.getElementById("dogGo-Table");
                    var row = dogGoTable.insertRow(dogGoTable.rows.length);
                    var indexCell = row.insertCell(0);
                    var roomCell = row.insertCell(1);
                    var equipmentCell = row.insertCell(2);
                    var t0910Cell = row.insertCell(3);
                    var t1011Cell = row.insertCell(4);
                    var t1112Cell = row.insertCell(5);
                    var t1213Cell = row.insertCell(6);
                    var t1314Cell = row.insertCell(7);
                    var t1415Cell = row.insertCell(8);
                    var t1516Cell = row.insertCell(9);
                    indexCell.innerHTML = i + 1;
                    roomCell.innerHTML = e.location;
                    equipmentCell.innerHTML = e.name;
                    t0910Cell.innerHTML = e.amount.t0910
                    t1011Cell.innerHTML = e.amount.t1011
                    t1112Cell.innerHTML = e.amount.t1112
                    t1213Cell.innerHTML = e.amount.t1213
                    t1314Cell.innerHTML = e.amount.t1314
                    t1415Cell.innerHTML = e.amount.t1415
                    t1516Cell.innerHTML = e.amount.t1516
                })
            }
        })
    }

    function closeDogGo() {
        var dogGoModal = document.getElementById("dogGo-Popup");
        let dogGoTable = document.getElementById("dogGo-Table");
        dogGoTable.innerHTML = ""
        dogGoModal.style.display = "none";

    }

    function goRoom() {
        document.getElementById("roomID").href = "../UserSelecteRoom/userSelecteRoom.html";
    }

    var modal = document.getElementById("popUp-account");
    var btn = document.getElementById("openPopUp-account");

    var modal1 = document.getElementById("popUp-accountSetting");
    var btn1 = document.getElementById("openPopUp-accountSetting");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function () {
        modal.style.display = "block";
    }

    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }

    btn1.onclick = function () {
        modal1.style.display = "block";
    }
    span.onclick = function () {
        modal1.style.display = "none";
    }
    function sentResetLink() {
        alert("The system has successfully sent a link to reset your password.")
    }

    var modalCart = document.getElementById("popUp-cart");
    var btnCart = document.getElementById("openPopUp-cart");
    var spanCart = document.getElementsByClassName("close-cart")[0];

    btnCart.onclick = function () {
        modalCart.style.display = "block";
        onMonthSelected();
    }
    spanCart.onclick = function () {
        modalCart.style.display = "none";
    }

    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            }
            else {
                content.style.display = "block";
            }
        });
    }

    /* date time */
    var today = new Date();
    var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    var dateTime = date + ' ' + time;




    /* Show Alert from Controller*/
    var showAlert = "@ViewBag.showAlert";
    var alertMessage = "@ViewBag.alertMessage";
    if (showAlert === "True") {
        alert(alertMessage);
    }
</script>